{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <!-- Doctors Section -->
  
  <section id="doctors" class="doctors section">

    <!-- Section Title -->
    <div class="container section-title">
      <h2>{{title}}</h2>
    </div><!-- End Section Title -->

    <div class="container text-center">
      <div class="row ">
        <div class="col-8">
          <a href="{% url 'appointment-create' %}" class="btn btn-success">Nueva Cita</a>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary" type="button">Buscar</button>
            </div>
            
            <input type="text" class="form-control" id="search-patient" placeholder="Paciente" aria-label="" aria-describedby="basic-addon1" name="find-patient">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gy-4">
        <table class="table">
          <thead>
              <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Profesional</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Acción</th>
              </tr>
            </thead> 
            <tbody>
              {% for appointment in appointment_list %}
                <tr>
                  <td>{{appointment.patient}}</td>
                  <td>{{appointment.professional}}</td>
                  <td>{{appointment.date}}</td>
                  <td>{{appointment.time}}</td>
                  <td>                      
                      <a href="{% url 'appointment-update' appointment.id %}" class="btn btn-primary">Editar</a>
                      <a href="{% url 'appointment-delete' appointment.id %}" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section><!-- /Doctors Section -->

{% endblock %}