{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <!-- Doctors Section -->
  
  <section id="doctors" class="doctors section">

    <!-- Section Title -->
    <div class="container section-title">
      <h2>{{title}}</h2>
    </div><!-- End Section Title -->

    <div class="container text-center">
      <div class="row ">
        <div class="col">
          <a href="{% url 'professional-create' %}" class="btn btn-success" id="btn-update-professional">Crear Profesional</a>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gy-4">
        <table class="table">
          <thead>
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre y Apellidos</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Acción</th>
              </tr>
            </thead> 
            <tbody>
              {% for professional in professional_list %}
                  <tr>
                    
                    <td><img src="{{professional.image.url}}" alt="" class="img-fluid" width='40px' height='40px'></td>  
                    <td>{{professional.name|title}} {{professional.surnames|title}}</td>
                    <td>
                      {% for specialty in professional.specialty.all %} <!-- recorro las especialidades que tiene ese profesional -->        
                        {{specialty}}{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </td>
                    <td>                      
                      <a href="{% url 'professional-update' professional.id %}" class="btn btn-primary">Editar</a>
                      <a href="{% url 'professional-delete' professional.id %}" class="btn btn-danger">Eliminar</a>
                      <a href="{% url 'patients-professional-list' professional.id %}" class="btn btn-secondary">Pacientes</a>
                      <a href="{% url 'workshops-professional-maintenance-list' professional.id %}" class="btn btn-info">Talleres</a>
                    
                    </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section><!-- /Doctors Section -->

{% endblock %}
<!--
                  
                  <div>
                      <img src= width="400px" height="400px">
                    </div>
                    <h2></h2>
                    
                    <p></p>
                    <p></p>
                    <p>{{professional.resume|safe}}</p>-->