{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{workshop.name}}{% endblock %}
{% block content %}



<div class='container section-title'>

    <div class="row">

        <div class="blog-post mt-5">
            <h2 class="blog-post-title">{{workshop.name}}</h2>
            <p class="blog-post-meta">
                Especialidad: 
                <a href="{% url 'workshops-specialty-list' workshop.specialty_id %}">
                    {{workshop.specialty}}
                </a>
            </p>
            <p class="blog-post-meta">
                Impartido por: 
                <a href="{% url 'workshops-professional-list' workshop.professional_id %}">
                    {{workshop.professional|title}}
                </a>
            </p>
            <p>Fecha: {% if workshop.date != None %}{{workshop.date}}{% endif %}</p>
            <p class="mt-5">{{workshop.description|safe}}</p>
        </div>
        
    </div>


</div>

    

{% endblock %}
